body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.navbar {
  background: #df7048;
  padding: 15px;
  text-align: center;
  color: white;
  font-size :24px;
}

.search-bar input {
  width:40%;
  padding:10px;
  margin: 10px auto;
  display:block;
  border:1px solid #ffffff;
  border-radius:5px;
  /*background-color: #367588; */

}

.category-filter select {
  padding: 10px;
  margin: 10px auto;
  display: block;
}

.news-list {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:20px;
  padding:20px;
}

.news-item {
  background: #367588;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.read-more {
  color:#FF921E;
}

.news-item img {
  width: 100%;
  height: 200px;
  object-fit:cover;
}

.footer {
  background: #FF921E;
  color:#ffffff;
  text-align: center;
  padding:10px;
  margin-top:20px;
}

.search-input ::placeholder {
  color:#ffffff;
  opacity: 1;
}

/*media query for screens 600px and below */
@media only screen and (max-width: 600px) {
  .app{
    padding: 10px;
  }

  .news-list  {
    flex-direction: column;
    gap: 16px;
  }

  .news-item {
    width: 100px;
  }

  .search-bar input {
    width: 100%;
    font-size: 16px;
  }

  .navbar,
  .footer {
    text-align: center;
    flex-direction: column;
  }
}